<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="search">
            <label for="search-field">
              <i class="fa fa-search"></i>
            </label>
            <input type="text" class="search" placeholder="Type your search here" name="search-field" (keyup)="filter($event, searchPeople.value)"
              #searchPeople>
        </div>
    </div>

    <div class="col-md-3 person" *ngFor="let person of people">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">{{ person.name }}</h5>
          <a href="#" class="card-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>