.search {
    margin: 2rem 0;

    input {
        width: 100%;
        border-radius: 2px;
        border: none;
        background-color: #cccccc;
        padding: .3rem;
    }
}

.person {
    margin: 1rem 0;

    .card {
        background-color: #cccccc;

    }
}